{% if cookiecutter.data_dir == 'local' %}
DATA_DIR=data/
{% elif cookiecutter.data_dir == 'github' %}
DATA_DIR=data/
{% elif cookiecutter.data_dir == 'box' %}
DATA_DIR=~/Library/CloudStorage/Box-Box/
{% endif %}