# development tools
flake8~=4.0
flake8-bugbear~=23.11
black~=22.1
pre-commit~=2.20
ipykernel~=6.16

# project packages
pandas~=2.1
{% if cookiecutter.cluster == 'yes' %} # cluster specific
submitit~=1.4
{% endif %}
